# Autosaves #
#############
*~
\#*\#
*.backup

# Hidden Files #
################
.*

# Compiled #
############
a.out
*.javac
*.pyc

# Archives #
############
*.7z
*.dmg
*.gz
*.jar
*.iso
*.rar
*.tar
*.zip